name: Build and Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  CI: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: SSH into Server and Run Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          port: 22
          script: |
            cd backend/taxi-backend
            sudo git pull https://${{ secrets.SERVER_GIT_USERNAME }}:${{ secrets.SERVER_TOKEN }}@github.com/wailin0/taxi-backend.git
            sudo docker-compose build backend
            sudo docker-compose up -d
            sudo docker system prune -af
